.homePage {

    background-image: url(../assets/images/bg-temp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.homepageContent {
    position: absolute;
    margin: auto;
    padding-top: 1%;
    top: 35vh;;
    bottom: 35vh;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    text-align: center;
}
.homepageSpan{
    color: rgb(90, 221, 38);

            transition:all 0.3s ease;
}

.homepageDesc{
    padding-top: 3%;
    font-family: 'Dancing Script', cursive;
}